.home-hero {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: ($base-space * 6) (0) ($base-space * 7);
	position: relative;
	z-index: 1;

	@include bp(medium) {
		padding: ($base-space * 9) (0) ($base-space * 10);
	}

	@include bp(large) {
		padding: ($base-space * 5) (0);
	}

	@include bp(1300px) {
		padding: ($base-space * 7) (0);
	}

	&__fixed-bg {
		@include cover;
		display: block;
		position: fixed;
		z-index: -1;
		backface-visibility: hidden;
		background-blend-mode: initial;
		background-color: $theme-color-1;
		background-image: url('/images/home-bg.jpg');
		background-position: center;
		background-size: cover;
		will-change: background-color, background-blend-mode;

		&--green {
			background-blend-mode: luminosity;
			background-color: $theme-color-3;
		}
	}

	&__bottom-mask {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		opacity: 0.9;

		svg {
			fill: $theme-color-3;
		}
	}

	&__content {

		img {
			$size: 260px;
			display: block;
			margin: 0 auto;
			max-width: $size;
			max-height: $size;
			opacity: 0;
			transform: scale(0.6) translateY(-40%) rotateX(-145deg);
			@include card(5);
			@include ease('out-back', 0.5);
			transition-delay: .4s;

			@include bp(medium) {
				$size: 350px;
				max-width: $size;
				max-height: $size;
			}

			@include bp(large) {
				$size: 400px;
				max-width: $size;
				max-height: $size;
			}
		}

		img.home-hero__music-img--loaded {
			transform: scale(1) translateY(0) rotateX(0);
			opacity: 1;
		}
	}

	&__music {
		will-change: transform;
		perspective: 1000;
		text-align: center;

		&-img {
			$size: 260px;
			display: block;
			margin: 0 auto;
			max-width: $size;
			max-height: $size;
			opacity: 0;
			transform: scale(0.6) translateY(-40%) rotateX(-145deg);
			@include card(5);
			@include ease('out-back', 0.5);
			transition-delay: .4s;

			&--loaded {
				opacity: 1;
				transform: scale(1) translateY(0%) rotateX(0);
			}

			@include bp(medium) {
				$size: 350px;
				max-width: $size;
				max-height: $size;
			}

			@include bp(large) {
				$size: 400px;
				max-width: $size;
				max-height: $size;
			}
		}

		&-title {
			font-size: map-get($heading-sizes, 5);
			letter-spacing: 0.3rem;
			margin-top: (-$base-space);
			margin-bottom: ($base-space * 1.5);
			color: color(white);
			transform: translate3d(0, 0, 0);

			span {
				display: inline-block;
				transform: scale(4) translateY(-100%);
				opacity: 0;
				@include ease('out-back');

				&.active {
					transform: scale(1);
					opacity: 1;
				}
			}

			@include bp(small) {
				@extend %u-ls-3;
				font-size: map-get($heading-sizes, 4);
			}

			@include bp(large) {
				font-size: map-get($heading-sizes, 3);
			}
		}

		&-link {
			display: flex;
			max-width: ($base-space * 6);
			margin: 0 auto ($base-space / 2) auto;
			@include card(3);
			opacity: 0;
			transform: scale(0.5);
			@include ease();
			transition-delay: .35s;

			&:last-child {
				margin-bottom: 0;
			}

			&--loaded {
				opacity: 1;
				transform: scale(1);
				transition-delay: 0s;
			}

			&--itunes {
				overflow: hidden;
				color: color(white);

				svg {
					fill: color(white);
				}

				&:before {
					background: lighten(black, 2);
					@include ease('out', .25);
				}

				&:after {
					transform: translateY(100%);
					border: none;
					background: lighten(white, 2);
				}

				&:hover {
					color: lighten(black, 2);

					&:before {
						transform: translateY(-100%);
					}

					&:after {
						transform: translateY(0);
					}

					svg {
						fill: lighten(black, 2);
					}
				}
			}

			&--spotify {
				color: color(spotify);
				overflow: hidden;

				svg {
					fill: color(spotify);
				}

				&:before {
					background: lighten(black, 2);
					@include ease('out', .25);
				}

				&:after {
					transform: translateY(100%);
					border: none;
					background: color(spotify);
				}

				&:hover {
					color: lighten(black, 2);

					&:before {
						transform: translateY(-100%);
					}

					&:after {
						transform: translateY(0);
					}

					svg {
						fill: lighten(black, 2);
					}
				}
			}

			&-text {
				margin-left: ($base-space / 3);
			}

			svg {
				@include ease('in-out');
			}

			@include bp(medium) {
				display: inline-flex;
				min-width: ($base-space * 6);
				margin-bottom: 0;
			}
		}
	}

	&__spotify {
		display: none;

		@include bp(medium) {
			position: absolute;
			z-index: 8;
			left: ($base-space * 1.5);
			bottom: calc(0 + #{$base-space * 7});
			@include ease('out-back');
			transition-delay: .5s;

			&--active {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}

	&__bottom-curve {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);

		svg {
			fill: $theme-color-1;
		}
	}
}
