<footer class="site-footer">
	<div class="u-wrapper">
		<div class="site-footer__info">
			<div class="site-footer__info-item">
				<h3 class="site-footer__heading">Bookings</h3>
				<a href="mailto:max@earth-agency.com" class="site-footer__link">max@earth-agency.com</a>
			</div>
			<div class="site-footer__info-item">
				<h3 class="site-footer__heading">Connect</h3>
				<div class="site-footer__social-links">
					<a href="" class="site-footer__social-link">
						<svg><use xlink:href="/svg/svg.svg#instagram" /></svg>
					</a>
					<a href="" class="site-footer__social-link">
						<svg><use xlink:href="/svg/svg.svg#facebook" /></svg>
					</a>
					<a href="" class="site-footer__social-link">
						<svg><use xlink:href="/svg/svg.svg#twitter" /></svg>
					</a>
					<a href="" class="site-footer__social-link">
						<svg><use xlink:href="/svg/svg.svg#soundcloud" /></svg>
					</a>
					<a href="" class="site-footer__social-link">
						<svg><use xlink:href="/svg/svg.svg#spotify" /></svg>
					</a>
				</div>
			</div>
		</div>
		<div class="site-footer__bottom-bar">
			<span>Designed &amp; Developed by <a href="https://www.arjanjassal.me/">Arjan Jassal</a></span>
			<span>&copy; D Double E 2016 - Present</span>
		</div>
	</div>
	<div class="site-footer__curve">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="1920" height="133" viewBox="0 0 1920 133" enable-background="new 0 0 1920 133" xml:space="preserve"><path d="M825.6 132.1C597.6 129.1 461 0 261.5 0 180.4 0 84.9 31.4 0 68.7V133h1920V84.7c-106.2-34.2-243.1-63-397-62.4C1181.1 23.9 1053.5 135.1 825.6 132.1z"/></svg>
	</div>
</footer>