<footer class="site-footer">
	<div class="u-wrapper">
		<div class="site-footer__info">
			<div class="site-footer__info-item">
				<h3 class="site-footer__heading">Bookings</h3>
				<a href="mailto:max@earth-agency.com" class="site-footer__link">max@earth-agency.com</a>
			</div>
			<div class="site-footer__info-item">
				<h3 class="site-footer__heading">Connect</h3>
				<div class="site-footer__social-links">
					<a href="" class="site-footer__social-link">
						<svg><use xlink:href="/svg/svg.svg#instagram" /></svg>
					</a>
					<a href="" class="site-footer__social-link">
						<svg><use xlink:href="/svg/svg.svg#facebook" /></svg>
					</a>
					<a href="" class="site-footer__social-link">
						<svg><use xlink:href="/svg/svg.svg#twitter" /></svg>
					</a>
					<a href="" class="site-footer__social-link">
						<svg><use xlink:href="/svg/svg.svg#soundcloud" /></svg>
					</a>
					<a href="" class="site-footer__social-link">
						<svg><use xlink:href="/svg/svg.svg#spotify" /></svg>
					</a>
				</div>
			</div>
		</div>
		<div class="site-footer__bottom-bar">
			<span>Designed &amp; Developed by <a href="https://www.arjanjassal.me/">Arjan Jassal</a></span>
			<span>&copy; D Double E 2016 - Present</span>
		</div>
	</div>
</footer>