<header class="site-header">
	<a href="/" class="site-header__logo">
		{% include "./partials/logo.html.twig" with {'id': 'header-logo'} %}
	</a>
	<div class="site-header__nav">
		{% include "./partials/nav.html.twig" %}
	</div>
	<div class="site-header__hamburger">
		<button type="button" class="c-hamburger">
			<div class="c-hamburger__patty"></div>
			<div class="c-hamburger__patty"></div>
			<div class="c-hamburger__patty"></div>
		</button>
	</div>
	<div class="site-header__overlay"></div>
</header>