<header class="site-header">
	<a href="/" class="site-header__logo">
		<svg class="c-logo"><use xlink:href="/svg/svg.svg#logo" /></svg>
	</a>
	<div class="site-header__nav">
		{% include "./partials/nav.html.twig" %}
	</div>
</header>