<nav class="site-nav" role="navigation">
	<ul class="site-nav__list">
		{% for page in pages.children %}
			{% if page.visible %}
				<li class="site-nav__item">
					<a href="{{ page.url }}" class="site-nav__link">{{ page.menu }}</a>
				</li>
			{% endif %}
		{% endfor %}
		<li class="site-nav__item">
			<a href="" class="site-nav__link">Shop</a>
		</li>
	</ul>
</nav>