.post-article {
  min-height: 540px;
  padding: ($base-space * 4) (0) ($base-space * 2);

  p, li {
    margin-bottom: ($base-space * 2);
    font-size: 1.875rem;
    color: white;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $theme-color-1;
  }

  h1 { @extend %u-ls-3; }
  h2 { @extend %u-ls-4; }
  h3 { @extend %u-ls-5; }
  h4 { @extend %u-ls-6; }
}
