{% extends './layouts/default.html.twig' %}

{% block content %}
	<div class="error">
		<div class="u-wrapper">
			<h1>Error {{ page.header.http_response_code }}</h1>
			<p>
				{{ page.content }}
			</p>
		</div>
	</div>
{% endblock %}
