{% extends "./partials/base.html.twig" %}

{% block content %}
	<section class="music">
		<div class="music-wrapper">
			<h1 class="news__heading">Music</h1>
			<ul class="music-list"></ul>
		</div>
	</section>
{% endblock %}
