.home-hero {
	min-height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: ($base-space * 3) (0) ($base-space * 3);
	position: relative;
	z-index: 1;
	background: $theme-color-3 url('/images/home-bg-1.jpg') center/cover;;

	&__bottom-mask {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);

		svg {
			fill: $theme-color-1;
		}
	}

	&__bg {
		display: none;
	}

	&__music {
		perspective: 1000;
		text-align: center;

		&-img {
			$size: 400px;
			display: block;
			margin: 0 auto;
			max-width: $size;
			max-height: $size;
			opacity: 0;
			transform: scale(0.6) translateY(-40%) rotateX(-145deg);
			@include card(5);
			@include ease('out-back', 0.5);
			transition-delay: .4s;

			&--loaded {
				opacity: 1;
				transform: scale(1) translateY(0%) rotateX(0);
			}
		}

		&-title {
			@extend %u-heading-4;
			@extend %u-ls-3;
			margin-top: (-$base-space / 1.5);
			margin-bottom: ($base-space);
			color: color(white);
			transform: translate3d(0, 0, 0);

			span {
				display: inline-block;
				transform: scale(4) translateY(-100%);
				opacity: 0;
				@include ease('out-back');

				&.active {
					transform: scale(1);
					opacity: 1;
				}
			}
		}

		&-link {
			min-width: ($base-space * 6);
			@include card(3);
			opacity: 0;
			transform: scale(0.5);
			@include ease();
			transition-delay: .35s;

			&:hover {
				
				svg {
					transform: rotate(360deg);
				}
			}

			&--loaded {
				opacity: 1;
				transform: scale(1);
			}

			&--itunes {
				color: color(white);

				svg {
					fill: color(white);
				}

				&:before {
					background: $theme-color-3;
				}

				&:after {
					display: none;
					border-color: color(white);
				}
			}

			&--spotify {
				color: color(spotify);

				svg {
					fill: color(spotify);
				}

				&:before {
					background: $theme-color-3;
				}

				&:after {
					display: none;
					border-color: color(spotify);
				}
			}

			svg {
				@include ease('in-out');
			}
		}
	}

	&__img,
	&__spotify {
		position: relative;
		z-index: 8;
	}

	&__spotify {
		position: absolute;
		left: ($base-space * 1.5);
		bottom: calc(0 + #{$base-space * 7});
		@include ease('out-back');
		transition-delay: .5s;

		&--active {
			transform: translateX(0);
			opacity: 1;
		}
	}

	// &__svgs {
	// 	$width: 430px;
	// 	$height: $width / 2;
	// 	position: absolute;
	// 	z-index: 9;
	// 	top: 50%;
	// 	left: 50%;
	// 	width: $width;
	// 	height: $height;
	// 	transform: translate(-50%, -35%) scale(1.25);
	// 	@include ease();

	// 	&--active {
	// 		transform: translate(-50%, 0) scale(1);
	// 	}

	// 	svg {
	// 		position: absolute;
	// 		overflow: visible;
	// 		width: $width;
	// 		height: $height;
	// 		@include ease();

	// 		&.active {
	// 			&:nth-child(1) {
	// 				path {
	// 					stroke: $theme-color-3;
	// 					stroke-width: 24px;
	// 					@include ease('in-out', 0.4);
	// 					transition-delay: .1s;
	// 				}
	// 			}

	// 			&:nth-child(2) {
	// 				opacity: 1;
	// 			}
	// 		}

	// 		// First SVG is there so we can have
	// 		// an outer stroke.
	// 		&:nth-child(1) {
				
	// 			path {
	// 				stroke: $theme-color-2;
	// 				stroke-width: 4px;
	// 				fill: none;
	// 			}
	// 		}

	// 		&:nth-child(2) {
	// 			opacity: 0;
	// 			transition-delay: .1s;

	// 			path {
	// 				fill: $theme-color-1;
	// 			}
	// 		}
	// 	}
	// }

	// &__bg {
	// 	position: absolute;
	// 	z-index: 3;
	// 	top: 0;
	// 	left: 50%;
	// 	transform: translateX(-50%) translateY(0);
	// 	@include ease('out', 0.7);

	// 	&--active {
	// 		transform: translateX(-50%) translateY(0);
	// 	}

	// 	svg {
	// 		fill: $theme-color-2;
	// 		overflow: visible;
	// 	}

	// 	&--camo {
	// 		opacity: 0.1;
	// 	}
	// }

	// &__paint-drips {
	// 	position: absolute;
	// 	z-index: 2;
	// 	left: 50%;
 //    top: 400px;
	// 	transform: translateX(-50%) translateY(-50%);
	// 	opacity: 0;
	// 	@include ease();

	// 	&--show {
	// 		opacity: 1;
	// 		transform: translateX(-50%) translateY(0);
	// 	}

	// 	svg {
	// 		fill: $theme-color-2;
	// 	}

	// 	path {
	// 		@include ease();

	// 		@for $i from  1 through 10 {

	// 			&:nth-child(#{$i}) {
	// 				transform: translateY(random(1000) / -1 + px);
	// 				transition-duration: random(15) / 10 + s;
	// 				// transition-delay: $i * .05s;
	// 			}
	// 		}

	// 		&.path-active {
	// 			transform: none;
	// 		}
	// 	}
	// }
}