.home-hero {
	min-height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: ($base-space * 6) (0) ($base-space * 6);
	position: relative;
	z-index: 1;
	background: $theme-color-3 url('/images/home-bg-1.jpg') center/cover;;

	&__bottom-mask {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);

		svg {
			fill: $theme-color-2;
		}
	}

	&__music {
		perspective: 1000;
		text-align: center;

		&-img {
			$size: 260px;
			display: block;
			margin: 0 auto;
			max-width: $size;
			max-height: $size;
			opacity: 0;
			transform: scale(0.6) translateY(-40%) rotateX(-145deg);
			@include card(5);
			@include ease('out-back', 0.5);
			transition-delay: .4s;

			&--loaded {
				opacity: 1;
				transform: scale(1) translateY(0%) rotateX(0);
			}

			@include bp(medium) {
				$size: 320px;
				max-width: $size;
				max-height: $size;
			}

			@include bp(medium) {
				$size: 400px;
				max-width: $size;
				max-height: $size;
			}
		}

		&-title {
			font-size: map-get($heading-sizes, 6);
			letter-spacing: 0.3rem;
			margin-top: (-$base-space / 1.5);
			margin-bottom: ($base-space * 1.5);
			color: color(white);
			transform: translate3d(0, 0, 0);

			span {
				display: inline-block;
				transform: scale(4) translateY(-100%);
				opacity: 0;
				@include ease('out-back');

				&.active {
					transform: scale(1);
					opacity: 1;
				}
			}

			@include bp(small) {
				@extend %u-ls-3;
				font-size: map-get($heading-sizes, 5);
			}

			@include bp(medium) {
				font-size: map-get($heading-sizes, 4);
			}
		}

		&-link {
			display: flex;
			max-width: ($base-space * 6);
			margin: 0 auto ($base-space / 2) auto;
			@include card(3);
			opacity: 0;
			transform: scale(0.5);
			@include ease();
			transition-delay: .35s;

			&:hover {
				
				svg {
					transform: rotate(360deg);
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			&--loaded {
				opacity: 1;
				transform: scale(1);
			}

			&--itunes {
				color: color(white);

				svg {
					fill: color(white);
				}

				&:before {
					background: $theme-color-3;
				}

				&:after {
					display: none;
					border-color: color(white);
				}
			}

			&--spotify {
				color: color(spotify);

				svg {
					fill: color(spotify);
				}

				&:before {
					background: $theme-color-3;
				}

				&:after {
					display: none;
					border-color: color(spotify);
				}
			}

			&-text {
				margin-left: ($base-space / 3);
			}

			svg {
				@include ease('in-out');
			}

			@include bp(medium) {
				display: inline-flex;
				min-width: ($base-space * 6);
				margin-bottom: 0;
			}
		}
	}

	&__spotify {
		display: none;

		@include bp(medium) {
			position: absolute;
			z-index: 8;
			left: ($base-space * 1.5);
			bottom: calc(0 + #{$base-space * 7});
			@include ease('out-back');
			transition-delay: .5s;

			&--active {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
}