.home-news {
	@include clearfix;
	padding: ($base-space * 5) (0);

	&__list {
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: calc(100% + #{$base-space * 1.5});
			height: calc(100% - #{$base-space * 2});
			position: absolute;
			top: ($base-space * 3);
			left: ((-$base-space * 1.5) / 2);
			background: $theme-color-2;
		}
	}
}

.home-news-post {
	$p: &;
	width: 50%;
	position: relative;
	z-index: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&:before {
		@include cover;
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
	}

	&__link {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: ($base-space * 13);
		padding: ($base-space * 1.5);
	}

	&__heading {
		@extend %u-heading-4;
		position: relative;
		color: color(white);

		&--last {
			@extend %u-ls-3;
			margin-bottom: 0;
			color: color(black);
			text-align: center;

			svg {
				$size: 36px;
				width: $size;
				height: $size;
			}
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			z-index: 1;
			bottom: (-$base-space / 1.5);
			left: 0;
			width: 100%;
			height: 5px;
		}
	}

	&:nth-child(1) {

		&:before {
			background: linear-gradient(0, $theme-color-1, rgba(black, 0.2));
		}

		#{$p}__heading:before {
			background: $theme-color-1;
		}
	}

	&:nth-child(2),
	&:nth-child(3) {
		&:before {
			background: linear-gradient(0, $theme-color-3, rgba(black, 0.2));
		}

		#{$p}__heading:before {
			background: $theme-color-2;
		}
	}

	&--last {
		background: $theme-color-2;

		&:before {
			width: calc(100% - #{$base-space * 1.5});
			height: calc(100% - #{$base-space * 1.5});
			top: ($base-space * 1.5) / 2;
			left: ($base-space * 1.5) / 2;
			border: 8px solid color(black);
		}

		#{$p}__link {
			display: flex;
			align-items: center;
			justify-content: center;
			
		}
	}
}