.home-events {
	@include clearfix;
	position: relative;
	z-index: 2;
	padding: ($base-space * 3) (0) ($base-space * 3);
	background: rgba($theme-color-3, 0.9);
	color: color(white);

	@include bp(small) {
		padding: ($base-space * 4) (0) ($base-space * 4);
	}

	&__heading {
		@extend %u-heading-4;
		@extend %u-ls-2;
		font-size: map-get($heading-sizes, 4);
		margin-bottom: ($base-space * 3);
		text-align: center;
		color: color(white);

		@include bp(medium) {
			margin-bottom: ($base-space * 5);
			font-size: map-get($heading-sizes, 3);
		}

		&--no-margin {
			margin-bottom: 0;
		}
	}

	&__list {
		list-style-type: none;
	}

	&__more {
		text-align: center;
	}

	&__more-btn {
		@extend %c-button;
		border: 4px solid color(white);
		color: color(white);
		background: none;
		margin-top: ($base-space * 2);
	
		&:before,
		&:after {
			display: none;
		}

		&:hover {

			svg {
				transform: translateX($base-space * 4);
			}
		}

		svg {
			$size: 24px;
			width: $size;
			height: $size;
			margin-left: ($base-space / 2);
			fill: color(white);
			@include ease('in-out');
		}
	}
}

.home-events-item {
	$p: &;
	display: block;
	margin: (0) (0) ($base-space * 2);
	text-align: center;

	@include bp(medium) {
		display: flex;
		text-align: left;
		margin: (0) (0) ($base-space * 3);
	}

	&__date {

		@include bp(medium) {
			text-align: right;
		}

		&-txt {
			display: inline-block;
			vertical-align: sub;
			margin-bottom: ($base-space / 2);
			font-size: map-get($heading-sizes, 6);
			text-transform: uppercase;
			font-weight: 700;
			color: color(white);
		}
	}

	&__about {

		@include bp(medium) {
			flex: 2;
			margin: (0) (0) (0) ($base-space * 2);
		}

		&-name,
		&-venue,
		&-location {
			color: color(white);
		}

		&-name {
			font-size: map-get($heading-sizes, 5);
			margin-bottom: ($base-space);
			color: $theme-color-2;
			@include ease(out);

			@include bp(large) {
				font-size: map-get($heading-sizes, 4);
			}
		}

		&-venue {
			font-size: map-get($heading-sizes, 4);
			margin-bottom: ($base-space / 2);
		}

		&-location {
			margin-bottom: ($base-space);
			font-size: map-get($heading-sizes, 5);
			font-weight: 400;
			
			@include bp(medium) {
				margin-bottom: 0;
			}

			&--last {
				margin-bottom: ($base-space * 2);

				@include bp(large) {
					margin-bottom: ($base-space * 3);
				}
			}
		}
	}

	&__buy {

		@include bp(medium) {
			margin-left: ($base-space * 2);
			text-align: right;
		}

		&-btn {
			@extend %c-button;
			color: color(white);
			background: none;
			font-size: 1.25rem;
			padding: ($base-space / 3) ($base-space / 1.5);

			@include bp(large) {
				font-size: $font-size-small;
				padding: ($base-space / 2.5) ($base-space);
			}
			
			&:before {
				background: $theme-color-1;
				@include ease('out', .25);
				transform-origin: center top;
			}

			&:after {
				border-color: $theme-color-1;
			}

			&:hover {
				color: $theme-color-2;

				&:before {
					transform: scaleY(0);
				}

				&:after {
					border-color: $theme-color-2;
				}
			}
		}
	}
}