/*------------------------------------*\
		#BUTTON
\*------------------------------------*/

.c-button,
%c-button {
	// Reset appearance
	appearance: none;
	border: none;

	display: inline-block;
	margin: (0) ($base-space / 6) ($base-space) (0);
	padding: ($base-space / 3) ($base-space);
	min-width: 130px;
	position: relative;
	z-index: 1;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	line-height: inherit;
	text-transform: uppercase;
	font-size: $font-size-small;
	cursor: pointer;
	color: $text-color;
	background: color(light-grey);

	&:focus {
		outline: none;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&:before {
		z-index: -1;
		background: color(light-grey);
	}

	&:after {
		z-index: -2;
		transform: translate(8px, 8px);
		border: 4px solid color(light-grey);
		@include ease('in-out', .25);
	}

	&:hover {

		&:after {
			transform: translate(0, 0);
		}
	}
}