{% set news = page.collection() %}

<section class="home-news">
	<div class="u-wrapper">
		<ul class="home-news__list">
			{% for post in news %}
				<li class="home-news-post" style="background-image: url({{ post.route }}/{{ post.header.cover_image }})">
					<a href="{{ post.route }}" class="home-news-post__link">
						<h2 class="home-news-post__heading">{{ post.title }}</h2>
					</a>
				</li>
			{% endfor %}

			<li class="home-news-post home-news-post--last">
				<a href="/news" class="home-news-post__link">
					<h2 class="home-news-post__heading home-news-post__heading--last">
						More News
						<svg><use xlink:href="/svg/svg.svg#arrow-right" /></svg>
					</h2>
				</a>
			</li>
		</ul>
	</div>
</section>