.site-footer {
	@include clearfix;
	position: relative;
	z-index: 1;
	padding: ($base-space * 2) (0) ($base-space * 6);
	background: $theme-color-1;

	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		opacity: 0.1;
		@include cover;
		background: url('/svg/camo.svg') center top/cover;
	}

	&__info {
		margin-bottom: ($base-space * 6);
		text-align: center;

		&-item {
			margin-bottom: ($base-space * 4);
		}
	}

	&__bottom-bar {
		@extend %u-ls-6;
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		font-size: 1.25rem;
		font-weight: 700;

		a {
			color: color(black);
		}
	}

	&__heading {
		@extend %u-heading-6;
		@extend %u-ls-4;
		margin-bottom: ($base-space * 1.5);
	}

	&__link {
		@extend %u-heading-4;
		@extend %u-ls-3;
		display: inline-block;
		text-transform: uppercase;
		color: color(black);
		font-weight: 300;
	}

	&__social-links {

	}

	&__social-link {
		margin: (0) ($base-space / 1.5);

		svg {
			$size: 34px;
			width: $size;
			height: $size;
			fill: color(black);
		}
	}

	&__curve {
		position: absolute;
		z-index: 2;
		top: -130px;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);

		svg {
			fill: $theme-color-1;
		}
	}
}