.site-header {
	$p: &;

	display: flex;
	align-items: center;

	position: fixed;
	z-index: 100;

	top: 0;
	left: 0;
	
	width: 100%;
	padding: (0) ($base-space);

	backface-visibility: hidden;

	@include bp(medium) {
		flex-flow: column wrap;
	}

	@include bp(large) {
		flex-flow: row wrap;
	}

	&:before {
		@include cover;
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		background: $theme-color-3;
		transform: translateY(-100%);
		will-change: transform;
		@include ease();
	}

	@include bp(medium) {
		padding: (0) ($base-space * 2.5);
	}

	&--scrolled {

		&:before {
			transform: translateY(0);
		}

		#{$p}__logo svg {
			margin: ($base-space / 2) (0);
		}
	}

	&__logo {
		display: block;
		z-index: 10;

		svg {
			$width: 260px;
			$height: ($width / 2);
			display: block;
			width: $width;
			height: $height;
			margin: ($base-space) (0) ($base-space / 2);
			opacity: 0;
			will-change: transform, fill, margin;
			fill: $theme-color-2;
			overflow: visible;

			@include bp(large) {
				margin: ($base-space) (0);
			}

			&.loaded {
				$width: 145px;
				$height: ($width / 2);
				width: $width;
				height: $height;
				@include ease();
				stroke-width: 0;
				opacity: 1;
		    margin-left: -$base-space / 4;

		    @include bp(small) {
		    	$width: 165px;
		    	$height: ($width / 2);
		    }

				path {
					animation: none 0 !important;
					transform: scale(1) rotate(0) !important;
				}
			}

			@keyframes up {
				0% {
					transform: scale(1) rotate(0);
					fill: $theme-color-2;
				}

				20% {
					transform: scale(1.2) rotate(0);
					fill: $theme-color-2;
				}

				33% {
					transform: scale(1.6) rotate(45deg);
					fill: $theme-color-1;
				}

				66% {
					transform: scale(0.75) rotate(180deg);
					fill: $theme-color-2;
				}

				100% {
					transform: scale(1) rotate(360deg);
					fill: $theme-color-1;
				}
			}

			path {
				animation-name: up;
				animation-duration: 1.2s;
				animation-timing-function: $ease-out;
				animation-iteration-count: infinite;
				transform: translateY(0%) rotate(0);
				transform-origin: center center;

				@for $i from 1 through 5 {
					&:nth-child(#{$i}) {
						animation-delay: $i * 0.08s;
					}
				}
			}

			@include bp(small) {
				$width: 300px;
				$height: ($width / 2);
				width: $width;
				height: $height;
			}

			@include bp(medium) {
				$width: 400px;
				$height: ($width / 2);
				width: $width;
				height: $height;
			}
		}
	}

	&__nav {
		flex: 1;
		position: relative;
		z-index: 1;
	}

	&__hamburger {
		display: block;
		position: relative;
		z-index: 2;

		@include bp(medium) {
			display: none;
		}
	}

	&__overlay {
		@include cover;
		position: fixed;
		z-index: 5;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 50%;
			@include ease('in-out', 0.5);
		}

		&:before {
			top: 0;
			background: lighten($theme-color-3, 5);
		}

		&:after {
			bottom: 0;
			background: lighten($theme-color-3, 5);
			transition-delay: .15s;
		}

		&--hide {
			visibility: hidden;
			transition-delay: 0.7s;

			&:before {
				transform: translateY(-100%);
			}

			&:after {
				transform: translateY(100%);
			}
		}
	}
}