.site-header {
	display: flex;
	align-items: center;

	position: fixed;
	z-index: 100;

	top: 0;
	left: 0;
	
	width: 100%;
	padding: (0) ($base-space * 1.5);

	backface-visibility: hidden;

	&__logo {
		display: block;
	}

	&__nav {
		flex: 1;
	}
}