.site-nav {

	&__list {
		list-style-type: none;
		text-align: right;
	}

	&__item {
		display: inline-block;
	}

	&__link {
		display: block;
		padding: (0) (0) (0) ($base-space);
		text-transform: uppercase;
		font-weight: 700;
		color: color(black);
	}
}