.site-nav {
	$p: &;
	$nav-width: 100%;
	$nav-width-small: 350px;

	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	min-height: $base-space * 6;
	width: $nav-width;
	background: $theme-color-1;
	transform: translate3d(0, -100%, 0);
	overflow: hidden;
	@include ease();

	&--active {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		overflow: visible;
		@include card(5);

		&:before {
			opacity: 0.4;
		}
	}

	@include bp(medium) {
		position: static;
		min-height: 0;
		width: auto;
		transform: none;
		background: none;
		opacity: 1;
		overflow: visible;

		&:before,
		&:after {
			display: none;
		}
	}

	&--scrolled {

		@include bp(medium) {
			#{$p}__link {
				color: color(white);
			}
		}
	}

	&__list {
		list-style-type: none;
		width: 100%;
		padding: ($base-space * 1.5) ($base-space);
		text-align: center;

		@include bp(small) {
			padding: (0) ($base-space * 2);
		}

		@include bp(medium) {
			padding: 0;
			text-align: right;
		}
	}

	&__item {
		display: block;
		transform: translateY(-100%);
		opacity: 0;
		@include ease();

		@for $i from 1 through 6 {
			&:nth-child(#{$i}) {
				transition-delay: $i * 0.05s;
			}
		}

		&--active {
			transform: translateY(0);
			opacity: 1;
		}

		@include bp(small) {
			display: inline-block;
		}

		@include bp(medium) {
			display: inline-block;
			transform: none;
			opacity: 1;
		}
	}

	&__link {
		display: block;
		padding: ($base-space / 2) (0);
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: map-get($heading-sizes, 5);
		color: $theme-color-2;
		@include ease('in-out');

		@include bp(small) {
			padding: (0) ($base-space / 1.5);
		}

		@include bp(medium) {
			padding: (0) (0) (0) ($base-space);
			font-size: map-get($heading-sizes, 6);
		}
	}
}