{% extends "./layouts/default.html.twig" %}

{% block content %}
	<section class="bio">
		<div class="u-wrapper">
			<article class="bio__content">
				<h1 class="bio__heading">D Double E</h1>
				<h2 class="bio__subheading u-heading-4">The Greatest of All Time</h2>
				{{ page.content }}
			</article>
		</div>
		<div class="bio__fixed-bg">
			<div class="bio__fixed-bg-left"></div>
			<div class="bio__fixed-bg-right"></div>
		</div>
	</section>
{% endblock %}
