{% extends "./layouts/default.html.twig" %}

{% block content %}
	<section class="blog">
		<h1>Blog</h1>
		
		{% for child in page.collection() %}
			<p>
				<a href="{{ child.url }}">{{ child.title }}</a>
			</p>
		{% endfor %}

	</section>
{% endblock %}