{% extends "./layouts/default.html.twig" %}

{% block content %}
	<section class="home">
		<div class="u-wrapper">
			{# <img id="img" src="/images/ddoublee-home.png" alt=""> #}
			<div class="home__logo">
				{% include "./partials/logo.html.twig" %}
			</div>
		</div>
	{# 	<div class="home__vid">
			<video id="home-video" autoplay loop muted>
				<source src="/videos/home.webm" type="video/webm">
				<source src="/videos/home.mp4" type="video/mp4">
				<source src="/videos/home.ogv" type="video/ogg">
				Your browser doesn't support HTML5 video tag.
			</video>
		</div> #}
	</section>
{% endblock %}