{% set events = page.collection() %}

<section class="home-events">
	<div class="u-wrapper">
		<h1 class="home-events__heading">Upcoming shows</h1>
		<ul class="home-events__list"></ul>
	</div>
</section>
