.c-hamburger {
	$p: &;
	$patty-height: 4px;
	$patty-margin: 5px;
	$patty-bg: $theme-color-1;
	$width: $base-space * 1.5;

	appearance: none;
	border: none;
	background: none;
	width: $width;
	cursor: pointer;

	&:focus,
	&:active {
		outline: none;
	}

	&--active {

		#{$p}__patty,
		#{$p}__patty:nth-child(3) {
			background: $theme-color-3;
			transform: scaleX(0);
		}
	}

	&__patty {
		height: $patty-height;
		margin-bottom: $patty-margin;
		border-radius: 999px;
		background: $patty-bg;
		@include ease();

		&:last-child {
			margin-bottom: 0;
			transform: scaleX(0.7);
			transform-origin: left center;
		}
	}
}